@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the course Collection</h1>
     <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index">Categories</a>
      <a class="nav-link text-dark" asp-area="" asp-controller="Courses" asp-action="Index">Courses</a>
</div>
